/* below 1360 */
@media (max-width: 85em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* below 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-teritiary {
    font-size: 2.4rem;
  }
  .grid {
    row-gap: 6.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .logo {
    padding-left: 0;
  }
  .main-nav-items {
    padding-right: 0;
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .footer {
    padding: 6.4rem 3.2rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* below 960px */
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .section-hero {
    padding: 1.8rem;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 4.8rem 8rem;
    gap: 6.4rem;
  }
  .hero-image {
    width: 70%;
  }
  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }
  .meal-contents {
    padding: 3rem 3.2rem;
  }
  .list-of-meals {
    padding: 1rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  .menu-mobile-nav {
    display: block;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0);
  }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-items {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:visited,
  .main-nav-link:link {
    font-size: 3rem;
  }
}

/* below 784px */
@media (max-width: 49em) {
  .grid--3--col,
  .grid--4--col {
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
  }
  .list-of-meals {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .pricing-plan {
    width: 100%;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2.4rem;
    row-gap: 5.2rem;
  }
  .address-col,
  .logo-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
  .logos img {
    height: 2.4rem;
  }
}

/* below 620px */
@media (max-width: 38em) {
  .grid--3--col,
  .grid--4--col,
  .grid--2--col {
    grid-template-columns: 1fr;
  }
  .grid {
    row-gap: 4.8rem;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.2rem;
    margin-top: 2rem;
  }
  .bt {
    width: 22rem;
  }
  .hero-image {
    width: 85%;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-image-box:nth-child(2) {
    grid-row: 1;
  }
  .step-image-box:nth-child(6) {
    grid-row: 5;
  }

  .step-image-box {
    transform: translateY(2.4rem);
  }
  .section-how {
    padding: 3.4rem;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .testimonials-container {
    padding: 4.8rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-image {
    height: 30rem;
    grid-row: 1;
  }
  .cta-textbox {
    padding: 2.4rem 3.6rem 0.4rem 3.6rem;
  }
  .section-cta {
    padding: 3.8rem 0 4.8rem;
  }
  .section-pricing {
    padding: 6.8rem 0;
  }
  .container.grid.grid--footer {
    padding: 0 1.2rem;
  }
}
