/* ________header________  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2rem;
  padding: 0 6.4rem;
}
/* ........................... */

/* -------navigation--------- */
.main-nav-items {
  list-style: none;
  display: flex;
  gap: 3.2em;
  align-items: center;
  padding: 6.4rem;
}

.main-nav-link:visited,
.main-nav-link:link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
/* ........................... */

/* ________hero__________ */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* height: 75vh; */
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  padding: 0 3.2rem;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-image {
  width: 100%;
}

.hero-text-description {
  font-size: 2rem;
  line-height: 1.55;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}
/* ......................... */

/* --------section featured in-------- */
.featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 0.6;
}

/* ................................... */

/* ------section how______ */
.section-how {
  padding: 9.6rem 0;
}

.step-image {
  width: 35%;
}
.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}

.heading-teritiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #333;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  /* margin-bottom: 4.8rem; */
}

.step-image-box::after,
.step-image-box::before {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.step-image-box::after {
  width: 60%;
  /* height:50%; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-image-box::before {
  width: 50%;
  padding-top: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
/* ............................. */

/* -------meals section--------- */
.section-meals {
  padding: 4.8rem 0;
}
.meal-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  width: 100%;
}
.meal-tags {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.8rem;
}

.tag {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  border-radius: 150px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}

.meal-contents {
  padding: 3.2rem 4.8rem;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.meal-icon {
  /* width: 2.4rem; */
  /* height: 2.4rem; */
  font-size: 2.4rem;
  color: #cf711f;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-of-meals {
  padding: 1.6rem 2rem;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: #cf711f;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
